.list-group
  - @current_friendships.each do |friendship|
    %a.list-group-item
      %h5.list-group-item-heading
        = friendship.friend.name
        %span.pull-right
          %button.btn.btn-xs.btn-primary.unFriend{"data-friendship-id" => friendship.id} Delete
      %p.list-group-item-text
        %small
          Email: #{friendship.friend.email}
      %p.list-group-item-text
        %small
          Phone: #{friendship.friend.phone}
= will_paginate @current_friendships, class: "flickr_pagination"